.robot-container {
  position: relative;
  margin: 250px auto;
}

.robot-face-shape {
  position: relative;
  height: 400px;
  width: 400px;
  border: 10px solid #c44a7a;
  border-radius: 10%;
  background: radial-gradient(#f6dcac, #312b6f, #c44a7a);
}

.robot-eye-left {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 100px;
  height: 90px;
}
.robot-eye-left:before,
.robot-eye-left:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #ff00ff;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.robot-eye-left:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.robot-pupil-left {
  position: relative;
  top: 10px;
  left: 15px;
  z-index: 2;
  background-color: white;
  border: 2px solid #312b6f;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.robot-eye-right {
  position: absolute;
  width: 100px;
  height: 40px;
  background: center / cover no-repeat url(https://picsum.photos/id/56/1000);
  top: 80px;
  right: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.robot-eye-right:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 40px solid #312b6f;
  border-bottom: 8px solid transparent;
}

.robot-pupil-right {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 40px;
  z-index: 2;
  background-color: #312b6f;
  border: 1px solid white;
  width: 45px;
  height: 20px;
  border-radius: 50%;
}

.robot-ear-left {
  position: absolute;
  bottom: 200px;
  right: -88px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 25px 25px 0 0 forestgreen;
}

.robot-earring {
  position: relative;
  top: 130px;
  left: -470px;
  z-index: 2;
  width: 25px;
  height: 25px;
  background-color: mediumaquamarine;
}

.robot-ear-right {
  position: absolute;
  bottom: 200px;
  left: -88px;
  width: 120px;
  height: 120px;
  transform: rotate(0.25turn);
  border-radius: 50%;
  box-shadow: 25px 25px 0 0 forestgreen;
}

.robot-nose {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 20px;
  box-sizing: content-box;
  opacity: 50%;
}

.robot-nose:before,
.robot-nose:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 14px solid #2b303e;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}

.robot-nose:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}

.robot-teeth {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 15%;
  text-align: center;
  border-radius: 30%;
}

.robot-tooth {
  display: inline-block;
  position: relative;
}

.robot-tooth:nth-child(1) {
  top: -60%;
  left: 15%;
  border-bottom: 20px solid #bbc9ff;
  border-right: 20px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(2) {
  top: -50%;
  left: 7%;
}

.robot-tooth:nth-child(3) {
  top: -60%;

  border-bottom: 20px solid white;
  border-left: 20px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(4) {
  top: -60%;

  border-bottom: 20px solid white;
  border-right: 20px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(5) {
  top: -50%;
  right: 7%;
}

.robot-tooth:nth-child(6) {
  top: -60%;
  right: 15%;
  border-bottom: 20px solid #bbc9ff;
  border-left: 20px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(7) {
  top: -60%;
  left: 15%;
  transform: rotateX(180deg);
  border-bottom: 15px solid #daf0f2;
  border-left: 25px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(8) {
  top: -60%;
  left: 7%;
  transform: rotateX(180deg);
  border-bottom: 20px solid #82aeb3;
  border-left: 25px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(9) {
  top: -60%;
  transform: rotateX(180deg);
  border-bottom: 25px solid white;
  border-left: 30px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 20px;
}

.robot-tooth:nth-child(10) {
  top: -60%;
  transform: rotateX(180deg);
  border-bottom: 25px solid white;
  border-right: 30px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 20px;
}

.robot-tooth:nth-child(11) {
  top: -60%;
  right: 7%;
  transform: rotateX(180deg);
  border-bottom: 20px solid #82aeb3;
  border-right: 25px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(12) {
  top: -60%;
  right: 15%;
  transform: rotateX(180deg);
  border-bottom: 15px solid #daf0f2;
  border-right: 25px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.canine {
  border-style: solid;
  border-color: transparent transparent #b9f2ff transparent;
  border-width: 0 10px 10px 10px;
  top: -20%;
  height: 0;
  width: 20px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 30px 0;
}

.canine:after {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #b9f2ff transparent transparent transparent;
  border-width: 30px 20px 0 20px;
}

.robot-hair-style {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 30%;
  text-align: center;
  white-space: no-wrap;
}

.robot-hair-style > div {
  display: inline-block;
  margin: auto 5px;
}

.robot-hair-three {
  position: absolute;
  font-size: 8em;
  width: 0.2em;
  box-sizing: content-box;
  height: 0.2em;
  border: 0.15em solid #f6dcac;
  position: relative;
  border-radius: 50%;
}

.robot-hair-three:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -182%;
  border-width: 0;
  background: linear-gradient(to left, #c44a7a, #f6dcac);
  width: 0.55em;
  height: 0.1em;
  transform: translateX(-50%) rotate(90deg);
}

.robot-hair-two {
  position: relative;
  bottom: -45%;
  width: 20px;
  height: 55px;
  background-color: blueviolet;
}

.robot-hair-one {
  position: relative;
  bottom: -45%;
  width: 20px;
  height: 30px;
  background-color: teal;
}
