.robot-container {
  position: relative;
  margin: 250px auto;
}

.robot-face-shape {
  position: relative;
  height: 400px;
  width: 400px;
  border: 10px solid #40e0d0;
  border-radius: 10%;
  background: radial-gradient(#40e0d0, #ffd700);
}

.robot-eye-left {
  position: absolute;
  top: 60px;
  left: 60px;
  width: 100px;
  height: 90px;
}
.robot-eye-left:before,
.robot-eye-left:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #ff00ff;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.robot-eye-left:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.robot-eye-right {
  position: absolute;
  width: 100px;
  height: 40px;
  background: red;
  top: 80px;
  right: 50px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.robot-eye-right:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 12px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 40px solid red;
  border-bottom: 8px solid transparent;
}

.robot-ear-left {
  position: absolute;
  bottom: 200px;
  right: -88px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 25px 25px 0 0 red;
}

.robot-ear-right {
  position: absolute;
  bottom: 200px;
  left: -88px;
  width: 120px;
  height: 120px;
  transform: rotate(0.25turn);
  border-radius: 50%;
  box-shadow: 25px 25px 0 0 red;
}

.robot-nose {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 40px;
  box-sizing: content-box;
}

.robot-nose:before,
.robot-nose:after {
  content: "";
  box-sizing: content-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 12px solid red;
  border-radius: 50px 50px 0 50px;
  transform: rotate(-45deg);
}

.robot-nose:after {
  left: auto;
  right: 0;
  border-radius: 50px 50px 50px 0;
  transform: rotate(45deg);
}

.robot-teeth {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 15%;
  text-align: center;
}

.robot-tooth {
  display: inline-block;
  position: relative;
}

.robot-tooth:nth-child(1) {
  top: -50%;
  left: 15%;
  border-bottom: 20px solid red;
  border-right: 20px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(2) {
  top: -40%;
  left: 7%;
}

.robot-tooth:nth-child(3) {
  top: -50%;

  border-bottom: 20px solid red;
  border-left: 20px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(4) {
  top: -50%;

  border-bottom: 20px solid red;
  border-right: 20px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(5) {
  top: -40%;
  right: 7%;
}

.robot-tooth:nth-child(6) {
  top: -50%;
  right: 15%;
  border-bottom: 20px solid red;
  border-left: 20px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(7) {
  top: -50%;
  left: 15%;
  transform: rotateX(180deg);
  border-bottom: 15px solid red;
  border-left: 25px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(8) {
  top: -50%;
  left: 7%;
  transform: rotateX(180deg);
  border-bottom: 20px solid red;
  border-left: 25px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(9) {
  top: -50%;
  transform: rotateX(180deg);
  border-bottom: 25px solid red;
  border-left: 30px solid transparent;
  border-radius: 5px 0 20px 0;
  height: 0;
  width: 20px;
}

.robot-tooth:nth-child(10) {
  top: -50%;
  transform: rotateX(180deg);
  border-bottom: 25px solid red;
  border-right: 30px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 20px;
}

.robot-tooth:nth-child(11) {
  top: -50%;
  right: 7%;
  transform: rotateX(180deg);
  border-bottom: 20px solid red;
  border-right: 25px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.robot-tooth:nth-child(12) {
  top: -50%;
  right: 15%;
  transform: rotateX(180deg);
  border-bottom: 15px solid red;
  border-right: 25px solid transparent;
  border-radius: 0 5px 0 20px;
  height: 0;
  width: 30px;
}

.canine {
  border-style: solid;
  border-color: transparent transparent red transparent;
  border-width: 0 10px 10px 10px;
  top: -20%;
  height: 0;
  width: 20px;
  box-sizing: content-box;
  position: relative;
  margin: 20px 0 30px 0;
}

.canine:after {
  content: "";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: red transparent transparent transparent;
  border-width: 30px 20px 0 20px;
}

.robot-hair-style {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  height: 30%;
  text-align: center;
  white-space: no-wrap;
}

.robot-hair-style > div {
  display: inline-block;
  margin: auto 5px;
}

.robot-hair-three {
  position: absolute;
  font-size: 8em;
  width: 0.2em;
  box-sizing: content-box;
  height: 0.2em;
  border: 0.15em solid #ffd700;
  position: relative;
  border-radius: 50%;
}

.robot-hair-three:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 50%;
  bottom: -182%;
  border-width: 0;
  background: linear-gradient(to left, #40e0d0, #ffd700);
  width: 0.55em;
  height: 0.1em;
  transform: translateX(-50%) rotate(90deg);
}

.robot-hair-two {
  position: relative;
  bottom: -45%;
  width: 15px;
  height: 40px;
  background-color: red;
}

.robot-hair-one {
  position: relative;
  bottom: -45%;
  width: 15px;
  height: 20px;
  background-color: red;
}
